html {
    background-color: #00d982;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 20px;
}

header {
    color: #fff;
}

h2 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #5e7992;
    color: #fff;
    font-size: 1rem;
    display: block;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

p {
}

#form-wrapper {
    margin-top: 0;
}

form {
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


label, input {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: #5e7992;
    margin: 20px 25px 5px;
}

input {
    box-sizing: border-box;
    border: 1px solid #ebeeef;
    background-color: #f9fafa;
    width: 96%;
    margin: 20px 25px 5px;
}

.form-item {
}

button {
    background-color: #00d982;
    border: none;
    color: #fff;
    width: 96%;
    margin: 20px 25px 5px;
    padding: 10px;
}

input,
button {
    font-size: 1rem;
    border-radius: 2px;
}

/* Media Queries Exercise 2 */



/* Media Queries Exercise 2 */

@media (min-width: 600px) {
    xxx {

    }
}

@media (min-width: 900px) {
    xxx {

    }
}
